.bar {
	text-align: right;
}

.carousel-back {
	display: flex;
	justify-content: space-between;
}

.carousel-box {
	
	white-space: nowrap;
	width: 830px;
	height: 300px;
	overflow: hidden;
}
.item{
	margin-top: 55px;
	
}
.item>li {
	display: inline;
	font-size: 100px;
}

.dongle-icon {
	width: 130px;
	height: 130px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
}

.left {
	margin-top: 55px;
	width: 60px;
	height: 130px;
	background-color: white;
	border: 0;
	font-size: 40px;
	color: gray;
	outline: 0;
}

.right {
	
	margin-top: 55px;
	width: 60px;
	height: 130px;
	background-color: white;
	border: 0;
	font-size: 40px;
	color: gray;
	outline: 0;
}

.right:hover {
	background-color: rgba(87, 84, 84, 0.1);
	border: 1px solid gray;
	border-radius: 10px 10px 10px 10px;
	font-size: 50px;
}

.left:hover {
	background-color: rgba(87, 84, 84, 0.1);
	border: 1px solid gray;
	border-radius: 10px 10px 10px 10px;
	font-size: 50px;
}

#carousel_section {
	width: 1024px;
	height: 300px;
	background-color: gray;
}

#carousel_section>ul {
	margin: 0px;
	padding: 0px;
	width: 1024px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

#carousel_section>ul>li {
	list-style: none;
	width: 1024px;
	height: 300px;
	position: absolute;
}

#carousel_section>ul>li>img {
	list-style: none;
	width: 1024px;
	height: 300px;
	object-fit: cover;
}