.bar {
	text-align: right;
	box-shadow: 4px 4px rgba(112, 110, 110, 0.3);
}

.carousel-back {
	display: flex;
	justify-content: space-between;
}

.carousel-box {
	
	white-space: nowrap;
	width: 780px;
	height: 300px;
	overflow: hidden;
}
.item{
	margin-top: 55px;
	padding-left:10px;
	
}
.item>li {
	
	display: inline;
	font-size: 100px;
}
.item>li>button:hover{
	background-image: linear-gradient(to right, rgba(130, 238, 41, 0.01)0,rgba(130, 238, 41, 0.3)50%,rgba(130, 238, 41, 0.01)100%);
	
}

.dongle-icon {
	
	width: 130px;
	height: 130px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
}

.left {
	margin-top: 55px;
	width: 60px;
	height: 130px;
	background-color: white;
	border: 0;
	font-size: 40px;
	color: gray;
	outline: 0;
}

.right {
	
	margin-top: 55px;
	width: 60px;
	height: 130px;
	background-color: white;
	border: 0;
	font-size: 40px;
	color: gray;
	outline: 0;
}

.right:hover {
	background-image: linear-gradient(to right, rgba(130, 238, 41, 0.3)0,rgba(130, 238, 41, 0.01)100%);
	border: 1px solid gray;
	border-radius: 10px 10px 10px 10px;
	font-size: 50px;
}

.left:hover {
	background-image: linear-gradient(to left, rgba(130, 238, 41, 0.3)0,rgba(130, 238, 41, 0.01)100%);
	border: 1px solid gray;
	border-radius: 10px 10px 10px 10px;
	font-size: 50px;
}

#carousel_section {
	width: 1024px;
	height: 300px;
	background-color: gray;
}

#carousel_section>ul {
	margin: 0px;
	padding: 0px;
	width: 1024px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

#carousel_section>ul>li {
	list-style: none;
	width: 1024px;
	height: 300px;
	position: absolute;
}

#carousel_section>ul>li>img {
	list-style: none;
	width: 1024px;
	height: 300px;
	object-fit: cover;
}