section#memeber-list-container {
	text-align: center;
}

div#search-memberId {
	display: inline-block;
}

div#search-memberName {
	display: none;
}

div#search-phone {
	display: none;
}

div#search-email {
	display: none;
}

div#search-blackList {
	display: none;
}

#tbl-member {
	display: block;
	width: 1000px;
	border-collapse: collapse;
	border: 0px solid black;
}

#tbl-member th {
	border: 1px solid black;
	background-color: gray;
	text-align: center;
	padding: 8px;
	border-collapse: collapse;
}

#tbl-member td {
	border: 1px solid black;
	border-top: 0px;
	text-align: left;
	padding: 8px;
	border-collapse: collapse;
}

#tbl-member tbody {
	display: block;
	height: 500px;
	overflow: auto;
}

#tbl-member th:nth-of-type(1), #tbl-member td:nth-of-type(1) {
	width: 100px
}

#tbl-member th:nth-of-type(2), #tbl-member td:nth-of-type(2) {
	width: 70px
}

#tbl-member th:nth-of-type(3), #tbl-member td:nth-of-type(3) {
	width: 50px
}

#tbl-member th:nth-of-type(4), #tbl-member td:nth-of-type(4) {
	width: 80px
}

#tbl-member th:nth-of-type(5), #tbl-member td:nth-of-type(5) {
	width: 110px
}

#tbl-member th:nth-of-type(6), #tbl-member td:nth-of-type(6) {
	width: 170px
}

#tbl-member th:nth-of-type(7), #tbl-member td:nth-of-type(7) {
	width: 200px
}

#tbl-member th:nth-of-type(8), #tbl-member td:nth-of-type(8) {
	width: 100px
}

#tbl-member th:nth-of-type(9), #tbl-member td:nth-of-type(9) {
	width: 50px
}

#tbl-member th:nth-of-type(10) {
	width: 50px
}

#tbl-member td:nth-of-type(10) {
	width: calc(50px)
}

