form#nonblack-search-frm{
	display:inline-block;
	margin-left: 20px;
}
form#black-search-frm{
	margin-left:165px;
	display:inline-block;
}

div#blacklist-container {
	padding-top:20px;
	width: 1000px;
}

#tbl-member-black {
	width: 250px;
	display: block;
	border-collapse: collapse;
	border: 1px solid black;
	float: right;	
	margin-right: 210px;
}

#tbl-member-black th {
	border: 1px solid black;
	border-top : 0px;
	border-left : 0px;
	border-right : 0px;
	background-color: gray;
	text-align: center;
	padding: 6px;
	border-collapse: collapse;
}

#tbl-member-black td {
	border: 1px solid black;
	border-left : 0px;
	border-top: 0px;
	border-right: 0px;
	text-align: left;
	padding: 6px;
	border-collapse: collapse;
}

#tbl-member-black tbody {
	
	display: block;
	height: 190px;
	overflow: scroll;
	overflow-x: hidden;
}

#tbl-member-black th:nth-of-type(1), #tbl-member-black td:nth-of-type(1)
	{
	width:30px
}

#tbl-member-black th:nth-of-type(2), #tbl-member-black td:nth-of-type(2)
	{
	width: 100px
}

#tbl-member-black th:nth-of-type(3)
{
	width: 120px
}
#tbl-member-black td:nth-of-type(3)
{
	width: 100px
}

#tbl-member-nonblack {
	width: 250px;
	display: block;
	border-collapse: collapse;
	border: 1px solid black;	
	margin-left: 60px;
	float: left;
}

#tbl-member-nonblack th {
	border: 1px solid black;
	border-top : 0px;
	border-left : 0px;
	border-right: 0px;
	background-color: gray;
	text-align: center;
	padding: 6px;
	border-collapse: collapse;
}

#tbl-member-nonblack td {
	border: 1px solid black;
	border-top: 0px;
	border-left : 0px;
	border-right: 0px;
	text-align: left;
	padding: 6px;
	border-collapse: collapse;
}

#tbl-member-nonblack tbody {
	display: block;
	height: 190px;
	overflow: scroll ;
	overflow-x: hidden;
}



#tbl-member-nonblack th:nth-of-type(1), #tbl-member-nonblack td:nth-of-type(1)
	{
	width: 30px
}

#tbl-member-nonblack th:nth-of-type(2), #tbl-member-nonblack td:nth-of-type(2)
	{
	width: 100px
}

#tbl-member-nonblack th:nth-of-type(3)
{
	width: 120px
}
#tbl-member-nonblack td:nth-of-type(3)
	{
	width: 100px
}


button#add-btn {
	float: left;
	margin-left: 70px;
	margin-top: 80px;
}

button#remove-btn {
	float: left;
	margin-left : 70px;
	margin-top: 10px;
}