form#nonblack-search-frm{
	display:inline-block;
	margin-left: 20px;
}
form#black-search-frm{
	margin-left:165px;
	display:inline-block;
}

div#blacklist-container {
	padding-top:20px;
	width: 1000px;
}

#tbl-member-black {
	display: block;
	border-collapse: collapse;
	border: 1px solid white;	
	float: right;	
	margin-right: 125px;
}

#tbl-member-black th {
	border: 1px solid rgba(112,136,172);	
	border-top : 0px;
	background-color: gray;
	text-align: center;
	padding: 6px;
	border-collapse: collapse;
	background-color:rgba(112,136,172); 
	color:white; 
	font-family: 'netmarble Medium';
}

#tbl-member-black td {
	border: 1px solid white;
	border-bottom: 1px solid #dddddd;	
	border-left : 0px;
	border-top: 0px;
	text-align: center;
	padding: 6px;
	border-collapse: collapse;
	font-family: '나눔스퀘어라운드 Regular';
	
}

#tbl-member-black tbody {
	
	display: block;
	height: 190px;
	overflow: scroll;
	overflow-x: hidden;
}

#tbl-member-black th:nth-of-type(1), #tbl-member-black td:nth-of-type(1)
	{
	width:30px
}

#tbl-member-black th:nth-of-type(2), #tbl-member-black td:nth-of-type(2)
	{
	width: 100px
}

#tbl-member-black th:nth-of-type(3), #tbl-member-black td:nth-of-type(3)
	{
	width: 100px
}

#tbl-member-nonblack {
	display: block;
	border-collapse: collapse;
	border: 1px solid white;	
	margin-left: 138px;
	float: left;
}

#tbl-member-nonblack th {
	border: 1px solid rgba(112,136,172);	
	border-top : 0px;
	border-left : 0px;
	background-color: gray;
	text-align: center;
	padding: 6px;
	border-collapse: collapse;
	background-color:rgba(112,136,172); 
	color: white; 
	font-family: 'netmarble Medium';
}

#tbl-member-nonblack td {
	border: 1px solid white;
	border-bottom:1px solid #dddddd;	
	border-top: 0px;
	border-left : 0px;
	text-align: center;
	padding: 6px;
	border-collapse: collapse;
	font-family: '나눔스퀘어라운드 Regular';
}

#tbl-member-nonblack tbody {
	display: block;
	height: 190px;
	overflow: scroll ;
	overflow-x: hidden;
}



#tbl-member-nonblack th:nth-of-type(1), #tbl-member-nonblack td:nth-of-type(1)
	{
	width: 30px
}

#tbl-member-nonblack th:nth-of-type(2), #tbl-member-nonblack td:nth-of-type(2)
	{
	width: 100px
}

#tbl-member-nonblack th:nth-of-type(3), #tbl-member-nonblack td:nth-of-type(3)
	{
	width: 100px
}
#tbl-member-nonblack td:nth-last-of-type(0)
{
	border-bottom:0px;
}

button#add-btn {
	float: left;
	margin-left: 70px;
	margin-top: 80px;
}

button#remove-btn {
	float: left;
	margin-left : 70px;
	margin-top: 10px;
}