body {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.back {
   width: 1024px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.back>div {
   display: inline-flex;
}

.logo {
   font-family: '여기어때잘난서체';
   color: rgb(112,136,172);
   font-size: 100px;
   margin-bottom: 100px;
   margin-right: 50px;
}

.logo-text {
   font-family: '나눔스퀘어라운드 Regular';
   font-size: 30px;
   /* margin-left: 50px; */
}

.login {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
   line-height: 10px;
}